<!DOCTYPE html>
<html>
  <head>
    <title>Welcome.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
      padding: 50px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Add Contact</h1>
      <br>
      <form action="/create" method ="POST" role="form">
        {% csrf_token %}


        {% if person_form.non_field_errors %}
          <ul>
            {% for error in person_form.non_field_errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        {% for field in person_form %}
          <div id="{{ field.auto_id }}_container">
            {{ field.help_text }}
            <div>
              {{ field.label_tag }}
              {{ field }}
            </div>
            <div id="{{ field.auto_id }}_errors">
              {{ field.errors }}
            </div>
          </div>
        {% endfor %}

        <input type ="submit" name ="Submit" class="btn btn-default" value ="Add">
      </form>
      <br>
      <a href="/">Return Home</a>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
