<!DOCTYPE html>
<html>
  <head>
    <title>Contact Detail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
      padding: 50px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Contact Detail</h1>
      <h2>{{ person.first_name }} {{ person.last_name }}</h2>
      <br>
      <a href="/">Return Home</a>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>

